* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: #f5f7fb;
}



/* Main Container */

.loginContainer{
    min-height: 100vh;
    display: flex;
}
.brand {
    display: flex;
    gap:8px;
}
.brand img{
    width:50px;
    height:50px;
}

/* Left Side */

.login-image {
    width: 50%;

    background:
        linear-gradient( rgba(20, 30, 50, 0.7), rgba(20, 30, 50, 0.7)),
        url(assets/images/loginBG.png)
        left / cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.overlay {
    width: 80%;
    max-width: 500px;
}


.overlay h1 {
    font-size: 42px;
    margin-bottom: 30px;
}


.overlay h2 {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
}


.overlay p {
    font-size: 18px;
    line-height: 1.6;
}


/* Right Side */

.login-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


.login-box {
    width: 100%;
    max-width: 450px;
}


.login-box h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


.subtitle {
    color: #777;
    margin-bottom: 35px;
}


/* Input */

.input-group {
    margin-bottom: 20px;
}


.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}


.input-group input {
    width: 100%;

    padding: 14px 16px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 15px;

    outline: none;
}


.input-group input:focus {
    border-color: #2563eb;
}


.input-group small {
    display: block;
    margin-top: 5px;
    color: red;
}


/* Forgot Password */

.forgot {
    text-align: right;
    margin-bottom: 25px;
}


.forgot a {
    text-decoration: none;
    color: #2563eb;
    font-size: 14px;
}


/* Login Button */

.login-btn {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}


.login-btn:hover {
    background: #1d4ed8;
}


/* Register */

.register-text {
    text-align: center;
    margin-top: 25px;

    color: #777;
}


.register-text a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}
/* SignUp */

.signUp-btn{
    background-color: #2ecc71;
     width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Toaster */

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #2ecc71;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: all 0.3s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* =========================
   CUSTOMER DASHBOARD
========================= */

.dashboard-container {
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
}


/* Sidebar */

.sidebar {
    width: 250px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    margin-bottom: 40px;
}

.sidebar-logo img {
    width: 38px;
    height: 38px;
}

.sidebar-logo h2 {
    margin: 0;
    font-size: 23px;
}


/* Navigation */

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-link {
    text-decoration: none;
    color: #64748b;
    padding: 13px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    background: #f1f5f9;
    color: #2563eb;
}

.nav-link.active {
    background: #eff6ff;
    color: #2563eb;
    font-weight: 600;
}


/* Logout */

.logout-btn {
    margin-top: auto;
    border: none;
    background: none;
    padding: 13px 15px;
    text-align: left;
    color: #ef4444;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
}

.logout-btn:hover {
    background: #fef2f2;
}


/* Main */

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 25px 35px;
}


/* Header */

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.dashboard-header h3 {
    margin: 0 0 5px;
}

.dashboard-header p {
    margin: 0;
    color: #64748b;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* .hero_appliances{
    display: flex;
} */
/* .hero_appliances img{
    width: 300px;
    height:600px;

} */

.notification-btn {
    border: none;
    background: white;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: #2563eb;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.profile small {
    display: block;
    color: #64748b;
}


/* Menu */

.menu-btn {
    display: none;

    border: none;
    background: white;

    font-size: 22px;

    cursor: pointer;
}


/* Welcome */

.welcome-section {
    background: white;

    padding: 30px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.welcome-section h1 {
    margin: 0 0 8px;
}

.welcome-section p {
    color: #64748b;
    margin: 0;
}


/* Buttons */

.primary-btn {
    background: #2563eb;
    color: white;
margin-top: 8px;
    border: none;

    padding: 12px 20px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: 600;

    transition: 0.3s;
}

.primary-btn:hover {
    background: #1d4ed8;
}


/* Section */

.section-title {
    margin: 25px 0 15px;
    font-size: 20px;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-badge {
    color: #f59e0b;
    font-size: 14px;
    font-weight: 600;
}


/* Services */

.service-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.service-card {
    background: white;

    padding: 25px;

    border-radius: 15px;

    border: 1px solid #e5e7eb;

    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.service-icon {
    font-size: 35px;

    margin-bottom: 15px;
}
.service-icon img{
    width:50px;
    height:50px
}

.service-card h3 {
    margin: 0 0 10px;
}

.service-card p {
    color: #64748b;

    font-size: 14px;

    line-height: 1.6;
}

.service-btn {
    border: none;
    background: none;

    color: #2563eb;

    font-weight: 600;

    cursor: pointer;
}


/* Active Repair */

.active-repair-card {
    background: white;

    padding: 25px;

    border-radius: 15px;

    border: 1px solid #e5e7eb;
}

.repair-top {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.repair-appliance {
    display: flex;
    align-items: center;
    gap: 15px;
}

.repair-icon {
    width: 50px;
    height: 50px;

    border-radius: 10px;

    background: #eff6ff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
}

.repair-appliance h3 {
    margin: 0 0 5px;
}

.repair-appliance p {
    margin: 0;

    color: #64748b;

    font-size: 13px;
}

.repair-status {
    background: #fff7ed;

    color: #f97316;

    padding: 7px 12px;

    border-radius: 20px;

    font-size: 13px;
}


/* Technician */

.technician {
    display: flex;

    align-items: center;

    gap: 12px;

    margin: 25px 0;
}

.technician-avatar {
    width: 45px;
    height: 45px;

    border-radius: 50%;

    background: #e0e7ff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.technician h4 {
    margin: 0 0 4px;
}

.technician p {
    margin: 0;

    color: #64748b;

    font-size: 13px;
}

.arrival {
    margin-left: auto;

    text-align: right;
}

.arrival small {
    display: block;

    color: #64748b;
}

.arrival strong {
    color: #2563eb;
}


/* Progress */

.progress-container {
    display: flex;

    align-items: center;

    margin: 30px 0;
}

.progress-step {
    text-align: center;

    min-width: 80px;
}

.progress-step span {
    width: 35px;
    height: 35px;

    border-radius: 50%;

    background: #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    font-size: 14px;
}

.progress-step.completed span {
    background: #22c55e;
    color: white;
}

.progress-step.current span {
    background: #2563eb;
    color: white;
}

.progress-step p {
    font-size: 12px;

    color: #64748b;
}

.progress-line {
    height: 3px;

    background: #e5e7eb;

    flex: 1;
}

.completed-line {
    background: #22c55e;
}

.track-btn {
    border: none;

    background: #eff6ff;

    color: #2563eb;

    padding: 10px 18px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: 600;
}


/* Table */

.table-container {
    background: white;

    border-radius: 15px;

    overflow-x: auto;

    border: 1px solid #e5e7eb;
}

table {
    width: 100%;

    border-collapse: collapse;
}

th,
td {
    padding: 17px;

    text-align: left;

    border-bottom: 1px solid #e5e7eb;

    font-size: 14px;
}

th {
    color: #64748b;
    font-weight: 500;
}

.completed-badge {
    background: #dcfce7;

    color: #16a34a;

    padding: 5px 10px;

    border-radius: 15px;

    font-size: 12px;
}


/* Other Sections */

.page-section {
    display: none;
}

.page-section.active-section {
    display: block;
}

.section-description {
    color: #64748b;
}


/* Booking */

.booking-card,
.tracking-card,
.settings-card {
    background: white;

    padding: 30px;

    border-radius: 15px;

    max-width: 800px;

    margin-top: 25px;
}

.form-row {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label,
.settings-card label {
    display: block;

    margin-bottom: 8px;

    font-weight: 600;

    font-size: 14px;
}

.form-group input,
.form-group select,
.form-group textarea,
.settings-card input {
    width: 100%;

    padding: 12px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    outline: none;

    font-family: inherit;
}

.form-group textarea {
    min-height: 100px;

    resize: vertical;
}


/* Tracking */

.big-status {
    background: #eff6ff;

    color: #2563eb;

    padding: 20px;

    border-radius: 10px;

    margin: 25px 0;

    font-weight: 600;
}


/* History */

.history-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    margin-top: 25px;
}

.history-card {
    background: white;

    padding: 25px;

    border-radius: 15px;

    border: 1px solid #e5e7eb;
}

.history-card > span {
    font-size: 30px;
}

.history-card h3 {
    margin-bottom: 5px;
}

.history-card p {
    color: #64748b;
}

.history-card strong {
    display: block;

    margin: 15px 0;
}

.history-card small {
    color: #16a34a;
}


/* Invoice */

.invoice-card {
    background: white;

    padding: 20px;

    border-radius: 12px;

    display: flex;

    align-items: center;

    gap: 25px;

    margin-top: 25px;
}

.invoice-card > div {
    flex: 1;
}

.invoice-card p {
    color: #64748b;
}

.invoice-btn {
    border: none;

    background: #eff6ff;

    color: #2563eb;

    padding: 10px 15px;

    border-radius: 7px;

    cursor: pointer;
}


/* Settings */

.settings-card {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.settings-card input {
    margin-bottom: 15px;
}




/* Tablet */

@media (max-width: 992px) {

    .login-image {
        width: 45%;
    }

    .login-section {
        width: 55%;
        padding: 30px;
    }

    .overlay h1 {
        font-size: 35px;
    }

    .overlay h2 {
        font-size: 26px;
    }

    .sidebar {
        width: 220px;
    }

    .main-content {
        margin-left: 220px;

        width: calc(100% - 220px);

        padding: 25px;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* Mobile */


@media (max-width: 768px) {

    .login-container {
        display: block;
    }


    /* Hide image on mobile */

    .login-image {
        display: none;
    }


    .login-section {
        width: 100%;
        min-height: 100vh;

        padding: 25px;
    }


    .login-box {
        max-width: 450px;
    }


    .login-box h1 {
        font-size: 28px;
    }

    .sidebar {
        left: -250px;

        transition: 0.3s;
    }

    .sidebar.show {
        left: 0;
    }

    .main-content {
        margin-left: 0;

        width: 100%;

        padding: 18px;
    }

    .menu-btn {
        display: block;
    }

    .dashboard-header {
        gap: 15px;
    }

    .dashboard-header > div:first-of-type {
        flex: 1;
    }

    .header-right {
        gap: 8px;
    }

    .profile div:last-child {
        display: none;
    }

    .welcome-section {
        flex-direction: column;

        align-items: flex-start;

        gap: 20px;
    }

    .welcome-section h1 {
        font-size: 24px;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .progress-container {
        overflow-x: auto;

        min-width: 550px;
    }

    .active-repair-card {
        overflow-x: auto;
    }

    .repair-top {
        min-width: 500px;
    }

    .technician {
        min-width: 500px;
    }

    .history-grid {
        grid-template-columns: 1fr;
    }

    .form-row {
        grid-template-columns: 1fr;
    }

    .invoice-card {
        flex-direction: column;

        align-items: flex-start;
    }
}